.experienceBar {
  display: flex;
  align-items: center;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar > div {
  flex: 1;
  height: 15px;
  border-radius: 15px;
  background: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div > div {
  height: 15px;
  border-radius: 15px;
  background: var(--green);
}

span.currentExperience {
  position: absolute;
  top: 30px;
  transform: translateX(-50%);
  background: var(--blue);
  height: 3rem;
  border-radius: 15rem 15rem 15rem 15rem;
  color: #fff;
  width: 5.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.currentExperience::before {
  content: "";
  display: block;
  position: absolute;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid var(--blue);
  margin-top: -3.2rem;
}

@media (max-width: 1100px) {
  .experienceBar > div {
    top: 30px;
  }
  .experienceBar span {
    margin-top: 4rem;
  }

  span.currentExperience {
    height: 2.5rem;
    width: 5rem;
    font-size: 0.9rem;
    margin-top: 0;
  }
  span.currentExperience::before {
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid var(--blue);
  }
}
