.experienceBar {
  display: flex;
  align-items: center;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar > div {
  flex: 1;
  height: 15px;
  border-radius: 15px;
  background: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div > div {
  height: 15px;
  border-radius: 15px;
  background: var(--green);
}

span.currentExperience {
  position: absolute;
  top: 30px;
  transform: translateX(-50%);
  background: var(--blue);
  padding: 1.5em;
  height: 3rem;
  border-radius: 15rem 15rem 15rem 15rem;
  color: #fff;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.currentExperience::before {
  content: "";
  display: block;
  position: absolute;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid var(--blue);
  margin-top: -3.2rem;
}
