.container {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1158px) {
    display: none;
  }
}
.container a {
  background: var(--blue);
  color: var(--background);
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
  padding: 14px 110px;
  position: fixed;
  top: 20px;
  right: -90px;
  text-align: center;
  text-decoration: none;

  transition: all 0.2s linear;
  transform: rotate(45deg);
}

.container a:hover {
  background: var(--blue-dark);
}
