.container {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 6rem;
  background: var(--blue);
}

.container img {
  margin: 1rem;
}

.container div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container svg {
  margin: 1rem 1rem;
  color: #fff;
  transition: color 0.2s;
  cursor: pointer;
  font-size: 2.5rem;
}
.container .icon {
  height: 5rem;
}
.container div p {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.flagSidebar {
  background-color: var(--green);
  height: 110px;
  width: 8px;
  left: 0;
  position: absolute;
  border-radius: 0 10px 10px 0;
  z-index: 10;
}
.container div svg:hover,
.container div svg:first-child {
  color: #fff;
  cursor: pointer;
}
.container .icon:hover {
  color: var(--green);
  background: var(--green);
}
.container .icon:last-child:hover {
  background: var(--red);
}
.container .icon.iconGithub {
  display: none;
}

@media (max-width: 1100px) {
  .container {
    flex-direction: row;

    left: unset;
    right: 0;
    top: 0;

    width: 100%;
    height: 5rem;
  }

  .container .icon.iconGithub {
    display: flex;
  }
  .container div p {
    font-weight: 600;
    cursor: pointer;
    display: none;
  }
  .flagSidebar {
    background-color: var(--green);
    left: unset;
    height: 7px;
    width: 70px;
    bottom: 0;
    position: absolute;
    border-radius: 10px 10px 0 0;
    z-index: 10;
  }
}

@media (max-width: 700px) {
  .container svg {
    font-size: 2rem;
  }
}
