.container {
  display: flex;
  flex-direction: column;
  width: 98vw;
  height: 100vh;
  text-align: center;
}

.container h1 {
  margin-top: 3rem;

  font-weight: 600;
  font-size: 2.5rem;
  line-height: 46px;
  color: var(--text);
}

.container > div {
  border-radius: 3px;
}
.container > div:first-of-type {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 2fr;
  width: 70vw;

  margin: 2rem auto 1rem auto;

  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--text);

  opacity: 0.5;
}

@media (max-width: 1100px) {
  .container h1 {
    font-size: 2rem;
    margin: 0;
    margin-top: 6rem;
  }
  .container > div:first-of-type {
    grid-template-columns: 2fr 4fr 2fr 2fr;
    font-size: 0.8rem;
    width: 95vw;
    margin-top: 1rem;
  }
}
@media (max-width: 400px) {
  .container > div:first-of-type {
    width: 98vw;
    font-size: 0.7rem;
  }
}
